.AccountPage
  .AccountPage__title
    .AccountPage__title--logo
      = image_tag '/logo.png', alt: 'ロゴ', class: 'TopLogo'
  .AccountPage__main
    .AccountPage__main--box
      %h2 会員情報入力
  .AccountPage__etc