.AccountPage
  .AccountPage__title
    .AccountPage__title--logo
      = image_tag '/logo.png', alt: 'ロゴ', class: 'TopLogo'
  .AccountPage__main
    %h2 会員情報入力
    .FormField
      .FormField__box
        .FormGroup
          .FormGroup__contents
            ニックネーム
            %span
              必須 
          %input.FormGroup__input{ type:"text", placeholder:"例）テック太郎"}
        .FormGroup
          .FormGroup__contents
            メールアドレス
            %span
              必須 
          %input.FormGroup__input{ type:"text", placeholder:"PC・携帯どちらでも可"}
        .FormGroup
          .FormGroup__contents
            パスワード
            %span
              必須 
          %input.FormGroup__input{ type:"text", placeholder:"７文字以上の半角英数字"}
        .FormGroup
          .FormGroup__contents
            パスワード確認
            %span
              必須
          %input.FormGroup__input{ type:"text", placeholder:"７文字以上の半角英数字"}
      .FormField__contents
        %input.FormField__contents--box{ type:"submit", value:"確定する"}
  .AccountPage__etc
    .AccountPage__etc--inc
      = image_tag '/logo-white.png', alt: 'ロゴ', class: 'FooterLogo'
    .AccountPage__etc--mark
      ©︎ FURIMA,Inc