.AccountPage
  = render "/devise/registrations/head_logo"
  .destroy
    .destroy__frame
      .destroy__frame--message
        削除が完了しました。
      %ul.destroy__frame--btns
        %li.my_page_link
          = link_to "マイページに戻る", users_path(current_user.id), class: "my_page_link__btn"
        %li.credit_card_new_link
          = link_to "クレジットカード新規登録", new_credit_card_path, class: "credit_card_new_link__btn"
  .AccountPage__etc
    = render "/devise/registrations/foot_logo"