.wrapper
  .right-content
    .mypage-user-area
      -# = link_to '#' do
      -#   = image_tag '/assets/icon_category.png'
      -# = link_to "https://www.mercari.com/jp/u/7889757751/"
      %figure
      -# = image_tag "https://static.mercdn.net/images/member photo noimage thumb.png", alt: '', height: '60px', width: '60px', class: 'member photo'
      = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", alt: '', height: '60px', width: '60px', class: 'member photo'
      .user-name
        鈴木一郎
      .user-info
        .reviews
          評価 0
        .exihibited-item
          出品数 0
    .mypage-bord
      -# .mypage-bord-header
      .mypage-bord-selectTab
        .mypage-bord-selectTab__left
        .mypage-bord-selectTab__right

-# .wrapper
-#   .container
-#     = render 'side_bar'
-#     .right-content
-#       .profile
-#         = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", alt: '', height: '60px', width: '60px', class: 'member photo'
-#       .user-name
-#         鈴木一郎
-#       .user-info
-#         .reviews
-#           評価 0
-#         .exihibited-item
-#           出品数 0
-#       .mypage-bord
-#         .mypage-bord-header
-#           購入した商品
-#         .mypage-bord-select-tab
-#           .mypage-bord-select-tab__left
-#             取引中
-#           .mypage-bord-select-tab__right
-#             過去の取引
-#         .mypage-bord-main-up

-#         .mypage-bord-main-down


