.MainContents
  .MainContents__userArea
    %figure
    = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", alt: '', height: '60px', width: '60px', class: 'member photo'
    .MainContents__userArea--userName
      山田太郎
    .MainContents__userArea--userInfo
      .reviews
        評価 0
      .exihibitedItem
        出品数 0
