.sideBar
  -# .myPage
  -#   = link_to 'マイページ', "/users/index", class: "MyPage-link"
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .notice
  -#   お知らせ
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .todo-list
  -#   やることリスト
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .like-list
  -#   いいね一覧
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  .sell
    出品する
    <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .draft-list
  -#   下書き一覧
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  .itemsListed__exhibiting
    出品した商品-出品中
    <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .itemsListed__during-trading
  -#   出品した商品-取引中
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  .itemsListed__sold
    出品した商品-売却済み
    <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .purchasedItem__during-trading
  -#   購入した商品-取引中
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  .purchasedItem__past-transactions
    購入した商品-過去の取引
    <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .news-list
  -#   ニュース一覧
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .evaluation-list
  -#   評価一覧
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .guide
  -#   ガイド
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .contact
  -#   お問い合わせ
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>

  -# %h3.mypage-nav-head メルペイ
  -# .sale-transfer-application
  -#   売上・振込申請
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .point
  -#   ポイント
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>

  -# %h3.mypage-nav-head
  -#   設定
  -# .profile
  -#   プロフィール
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .shipmentSource-addressee-addressChange
  -#   発送元・お届け先住所変更
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  
  %h3.mypage-nav-head
    %span 設定

  .method-of-payment
    支払い方法
    <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .mail-password
  -#   メール/パスワード
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .identity-information
  -#   本人情報
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  -# .confirmation-phone-number
  -#   電話番号の確認
  -#   <i class = "fas fa-angle-right fa-1.5x"></i>
  .logout
    ログアウト
    <i class = "fas fa-angle-right fa-1.5x"></i>
  .account-deletion
    アカウント削除
    <i class = "fas fa-angle-right fa-1.5x"></i>