.AccountPage
  = render "/devise/registrations/head_logo"
  .wrapper
    = render "side_bar"
    .logoutBord
      .logoutBord__button
        ログアウト
  .AccountPage__etc
    = render "/devise/registrations/foot_logo"

