-# .AccountPage
-#   = render "/devise/registrations/head_logo"
-#   .SellingItemArea__title
-#     売却済の商品一覧
-#   = render @items
-#   .AccountPage__etc
-#     = render "/devise/registrations/foot_logo"