.destroy {
  height: 450px;
  margin: 0 420px;
  &__frame {
    height: 350px;
    background-color: #ffffff;
    &--message {
      padding: 32px;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid rgba(229,226,226,0.377);
    }
    &--btns {
      margin: 60px 100px;
      .my_page_link {
        height: 50px;
        padding: 15px;
        background-color: #ea352d;
        border-radius: 4px;
        font-size: 15px;
        text-align: center;
        margin-bottom: 10px;
        &__btn {
          color: #ffffff;
          text-decoration: none;
          font-weight: bold;
        }
      }
      .credit_card_new_link {
        height: 50px;
        padding: 15px;
        background-color: #fff;
        border-radius: 4px;
        font-size: 15px;
        border: 1px solid #ea352d;
        text-align: center;
        &__btn {
          color: #ea352d;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}