.Form_errors {
  font-size: 14px;
  background-color: $input_main_color;
  border: 3px solid $section_color;
  border-radius: 6px;
  &__box {
    color: $section_color;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    
    &--contents {
      font-weight: lighter;
      color : $section_color;
      font-size: 14px;
    }
  }
}