* {
  box-sizing: border-box;
}

$angle_color: #0095ee;
$border_color: rgb(245, 245, 245);
$input_main_color:#ffffff;

.ConfirmPurchaseDetailsArea {
  background-color: $input_main_color;
  max-width: 700px;
  margin: auto;
  
  .contents {
    margin: 0px auto;
    padding: 24px 16px;
    max-width: 375px;
    border-top: 1px solid $border_color;
    border-bottom: 1px solid rgba(229,226,226,0.377);
    &__headerTitle {
      text-align: center;
      padding: 32px;
      font-size: 24px;
      font-weight: bold;
      line-height: 34px;
    }
    &__payment {
      display: flex;
      font-weight: 600;
      justify-content: space-between;
      &--money {
        font-size: 24px;
      }
    }
  }
  .credit_card_text {
    padding: 0 30px;
    margin-top: 10px;
    &__box {
      margin: 0 150px;
      font-size: 15px;
    }
  }
  .confirm_btn {
    padding: 0 30px;
    height: 80px;
    &__box {
      margin: 0 auto;
      width: 343px;
      &__buy {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        border-radius: 4px;
        text-decoration: none;
        font-size: 17px;
        min-height: 48px;
        padding: 10px 16px 8px;
        display: block;
        text-align: center;
        font-weight: bold;
      }
    }
  }
    // &__paymentMethod {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   &--methodOfPayment {
    //     font-size: 14px;
    //     font-weight: 600;
    //   }
    //   &--change {
    //     color: $angle_color;
    //     cursor: pointer;
    //     margin-left: 4px;
    //     font-weight: normal;
    //     .angle-right {
    //       color: $angle_color;
    //     }
    //   }
    // }
    // &__shippingAddress {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   &--destination {
    //     font-size: 14px;
    //     font-weight: 600;
    //   }
    //   &--change {
    //     color: $angle_color;
    //     cursor: pointer;
    //     margin-left: 4px;
    //     font-weight: normal;
    //     .angle-right {
    //       color: $angle_color;
    //     }
    //   }
    // }
    // &__box {
    //   background-color: $section_color;
    //   color: $input_main_color;
    //   width: 100%;
    //   font-size: 17px;
    //   min-height: 48px;
    //   padding: 0 24px;
    //   border-radius: 4px;
    //   border: 1px solid transparent;
    //   font-weight: 600;
    //   cursor: pointer;
    //   overflow: hidden;
    // }
  }
