$BackgroundColor: rgba(229, 226, 226, 0.377);

.SellProductPage{
  background-color: $BackgroundColor;
  height: 100vh;
  overflow: scroll;
  &__container{
    width: 700px;
    margin: auto;
    background-color: #ffffff;
    .FormArea{
      padding: 5px;
      &__content{
        margin: 0 10px;
        .FormBlock{
          padding: 30px;
          border-bottom: 1px solid #EFEFEF;
          &__title{
            color: rgb(136, 136, 136);
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
            margin-bottom: 24px;
          }
          .imageUploadArea{
            margin: 30px 0;
            &__content{
              display: flex;
              font-size: 12px;
              font-weight: 600;
              margin-bottom: 5px;
              span{
                background-color: #ea352d;
                color: #ffffff;
                margin: 0 0 0 8px;
                font-weight: lighter;
                padding: 2px 4px;
              }
            }
            p{
              margin-top: 16px;
              font-size: 14px;
              color: #4E4E4E;
            }
            .productFileContainer{
              display: flex;
              flex-wrap: wrap;
              margin: -8px -4px 0px;
              height: 150px;
              .uploadArea{
                margin: 20px 0;
                width: 100%;
                place-content: center;
                background-color: whitesmoke;
                border: 1px dashed #cccccc;
                cursor: pointer;
                display: flex;
                height: 100%;
                flex-wrap: wrap;
                .imageDropSpot{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .fa-camera{
                    height: 15px;
                    font-size: 20px;
                  } 
                  .description{
                    font-size: 12px;
                    line-height: 1.4em;
                    text-align: center;
                    width: 100%;
                  }
                }
              }
            }
          }
          .FormGroup{
            margin-top: 10px;
            &__content{
              display: flex;
              font-size: 12px;
              font-weight: 600;
              margin-bottom: 10px;
              .mustDescription{
                background-color: #ea352d;
                color: #ffffff;
                margin: 0 0 0 8px;
                font-weight: lighter;
                padding: 2px 4px;
              }
              .freeDescription{
                background-color: #BFBFBF;
                color: #ffffff;
                margin: 0 0 0 8px;
                font-weight: lighter;
                padding: 2px 4px;
              }
            }
            &__input{
              width: 100%;
              height: 46px;
              padding: 10px 16px 8px;
              border: 1px solid $border_color;
              font-size: 16px;
              border-radius: 4px;
              margin-bottom: 30px;

            }
            .textarea{
              width: 100%;
              border: 1px solid #ccc;
              border-radius: 4px;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              color: #222;
              font-size: 16px;
              margin: 0;
              outline: none;
              padding: 13px 16px;
              resize: vertical;
              vertical-align: middle;
            }
            select{
              width: 100%;
              appearance: none;
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              color: #222;
              font-size: 16px;
              height: 48px;
              line-height: 1;
              margin: 0;
              outline: none;
              padding: 0 56px 0 16px;
              margin-bottom: 30px;
            }
          }
          .FormGroupB{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            &__content{
              display: flex;
              align-items: center;
              font-size: 12px;
              font-weight: 600;
              margin-bottom: 10px;
              .mustDescription{
                background-color: #ea352d;
                color: #ffffff;
                margin: 0 0 0 8px;
                font-weight: lighter;
                padding: 2px 4px;
              }
            }
            &__inputArea{
              display: flex;
              align-items: center;
              width: 300px;;
              p{
                font-size: 14px;
                margin-right: 8px;
              }
              input{
                text-align: right;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: inherit;
                font-size: inherit;
                height: 48px;
                margin: 0;
                outline: none;
                padding: 0 16px;
                width: 100%;
              }

            }
          }
        }
      }
      &__footer{
        height: 195px;
        .submitArea{ 
          display: flex;
          justify-content: center;
          .sellbtn{
            width: 339px;
            height: 50px;
            padding: 10px 16px 8px;
            margin-top: 32px;
            background: $section_color;
            border: 1px solid $section_color;
            color: #fff;
            font-size: 16px;
            border-radius: 4px;
          }
        }
        .backlinkArea{
          display: flex;
          justify-content: center;
          .backToIndex{
            color: #0095ee;
            text-align: center;
            text-decoration: none;
            margin-top: 35px;
          }
        }
      }
      
    }
  }
}