$BackgroundColor: rgba(229, 226, 226, 0.377);
$section_color: #ea352d;
$border_color: #ccc;
$input_main_color:#ffffff;

// @mixin input_border () {
//   outline: 0;
//   border: 1px solid #7dc6f0;
// }

// input:focus{
//   @include input_border();
// }

// select:focus {
//   @include input_border();
// }



.AccountPage {
  background-color: $BackgroundColor;
  overflow: scroll;
  height: 100vh;
  &__title {
    height: 128px;
    &--logo {
      height: 128px;     
      margin: 40px 0 0;
      padding: 0 590px;
      .TopLogo {
      height: 62px;
      width: 213px;
      }
    }
  }
  &__main {
    width: 700px;
    margin: auto;
    background-color: $input_main_color;
    &--text {
      padding: 32px;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid $BackgroundColor;
    }
    .FormField {
      padding: 30px;
      &__box {
        margin: 0 150px;
        .FormGroup {
          margin-top: 32px;
          &__contents {
            display: flex;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 5px;
            .mandatory {
              background-color: $section_color;
              color: $input_main_color;
              margin: 0 0 0 8px;
              font-weight: lighter;
              padding: 2px 4px;
            }
            .any {
              background-color: rgb(212, 209, 209);
              margin: 0 0 0 8px;
              font-weight: lighter;
              padding: 2px 4px;
            }
          }
          &__input {
            width: 100%;
            height: 46px;
            padding: 10px 16px 8px;
            border: 1px solid $border_color;
            font-size: 16px;
            border-radius: 4px;
          }
          &__text {
            font-weight: bold;
            margin-bottom: 5px;
          }
          &__text_box {
            color: #333;
          }
        }
        .FormGroupB {
          display: flex;
          &__contents {
            font-weight: 600;
            &--FamilyName {
              width: 165px;
              height: 46px;
              padding: 10px 16px 8px;
              border: 1px solid $border_color;
              font-size: 16px;
              border-radius: 4px;
              font-weight: lighter;
            }
            &--FirstName {
              width: 165px;
              height: 46px;
              padding: 10px 16px 8px;
              border: 1px solid $border_color;
              font-size: 16px;
              border-radius: 4px;
              margin-left: 11px;
              font-weight: lighter;
            }
          }
        }
        
        .FormGroupC {
          display: flex;
          .field_with_errors {
            display: flex;
          }
          .year,.month,.day {
            width: 90px;
            padding: 12px 15px 12px;
            border: 1px solid $border_color;
            font-size: 16px;
            border-radius: 4px;
            font-weight: lighter;
            height: 50px;
          }
        }
        
        .FormText {
          margin-top: 5px;
          &__box {
            color: #888;
          }
        }
        
        .FormGroupD {
          width: 100%;
          padding: 12px 15px 12px;
          border: 1px solid $border_color;
          font-size: 16px;
          border-radius: 4px;
          font-weight: lighter;
          line-height: inherit;
        }
      }
      &__contents {
        height: 195px;
        margin: 0 150px;
        &--box {
          width: 339px;
          padding: 10px 16px 8px;
          margin-top: 32px;
          background: $section_color;
          border: 1px solid $section_color;
          color: #fff;
          font-size: 16px;
          border-radius: 4px;
        }
        &--text {
          font-size: 16px;
        }
      }
    }
  }
  &__etc {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    .FooterLogo {
      height: 62px;
      width: 213px;
      margin-left: 90px;
    }
    &--inc {
      padding: 30px 30px 0 30px;
    }
    &--mark {
      text-align: center;
      font-size: 13px;
    }
  }
}


