$BackgroundColor: rgba(229, 226, 226, 0.377);
$section_color: #ea352d;

.AccountPage {
  background-color: $BackgroundColor;
  overflow: scroll;
  height: 100vh;
  &__title {
    height: 128px;
    &--logo {
      height: 128px;     
      margin: 40px 0 0;
      padding: 0 590px;
    }
  }
  &__main {
    width: 700px;
    margin: auto;
    background-color: #ffffff;
  }
  &__etc {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    &--inc {
      padding: 30px 30px 0 30px;
    }
    &--mark {
      text-align: center;
      font-size: 13px;
    }
  }
}

.TopLogo {
  height: 62px;
  width: 213px;
}

h2 {
  padding: 32px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid $BackgroundColor;
}

.FormField {
  padding: 30px;
  &__box {
    margin: 0 150px;
  }
  &__contents {
    height: 195px;
    margin: 0 150px;
    &--box {
    width: 339px;
    padding: 10px 16px 8px;
    margin-top: 32px;
    background: $section_color;
    border: 1px solid $section_color;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    }
    &--text {
      font-size: 16px;
    }
  }
}

h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  color: #333;
}
.FormGroup {
  margin-top: 32px;
  &__contents {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__input {
    width: 305px;
    padding: 10px 16px 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px;
  }
}

.FormGroupB {
  display: flex;
  &__contentsb {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    &--FamilyName {
      width: 130px;
      padding: 10px 16px 8px;
      border: 1px solid #ccc;
      font-size: 16px;
      border-radius: 4px;
      font-weight: lighter;
    }
    &--FirstName {
      width: 130px;
      padding: 10px 16px 8px;
      border: 1px solid #ccc;
      font-size: 16px;
      border-radius: 4px;
      margin-left: 11px;
      font-weight: lighter;
    }
  }
}

span {
  background-color: $section_color;
  color: #ffffff;
  margin: 0 0 0 8px;
  font-weight: lighter;
  padding: 2px 4px;
}

.FooterLogo {
  height: 62px;
  width: 213px;
  margin-left: 90px;
}