.SellingItemArea {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin: 10px;
  overflow: hidden;
  z-index: 0;
  height: 252px;
  width: 188px;
  border-radius: 4px;
  &__title {
    padding-top: 30px;
    color: #3ccace;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }
  &__src {
    height: 188px;
    width: 188px;
    position: relative;
    &__box {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    &__price {
      align-items: center;
      background: rgba(0,0,0,.4);
      border-radius: 0 14px 14px 0;
      bottom: 8px;
      box-sizing: border-box;
      color: #fff;
      display: -webkit-inline-flex;
      display: inline-flex;
      font-size: 17px;
      height: 32px;
      height: 28px;
      letter-spacing: .02em;
      margin: 0;
      padding: 0 12px;
      position: absolute;
      z-index: 2;
    }
  }
  &__name {
    height: 64px;
    width: 100%;
    box-sizing: border-box;
    color: #222;
    font-size: 14px;
    line-height: 1.4em;
    padding: 12px;
    white-space: normal;
    word-break: break-word;
    &__box {
      display: inline-block;
      height: 2.8em;
      overflow: hidden;
      position: relative;
    }
  }
}