.AccountPage
  = render "devise/registrations/head_logo"
  .AccountPage__SignInMain
    .SignInForm
      .SignInForm__title
        %p.SignInForm__title--text 
          アカウントをお持ちでない方はこちら
        -# %input.SignInForm__title--button{ type: "submit", placeholder: "新規会員登録"}
        = link_to '新規会員登録', new_user_registration_path, class: "SignInForm__title--button"
      .SignInForm__box
        .FormContents
          %input.FormContents__box{ type: "text", placeholder: "メールアドレス"}
        .FormContents
          %input.FormContents__box{ type: "text", placeholder: "パスワード"}
        .FormContents
          %input.FormContents__button{ type: "submit", value: "ログイン"}
  .AccountPage__etc
    = render "devise/registrations/foot_logo"
