%header.pageHeader
  .headerContainer
    .topHeader
      %h1.icon
        %a{"href":'#', class: "icon__furima-logo"} 
          = image_tag 'logo.png'
      .searchBlock
        %form
          %input.searchBlock__input{placeholder: "キーワードから探す"}
          %button{"type": "submit"}
            .searchBlock__icon
              = image_tag 'icon-search 1.png'
    .nav
      %ul.leftLists
        %li.leftLists__cattab
          %a#catTab{"href": "#"}
            カテゴリー
        %li.leftLists__bratab
          %a#branbTab{"href": "#"}
            ブランド
      %ul.rightLists
        %li.rightLists__login
          %a{"href": "#"}
            ログイン
        %li.rightLists__signup
          .rightLists__item--signup
            %a{"href": "#"}
              新規会員登録