.SellProductPage
  = render "devise/registrations/head_logo"
  .SellProductPage__container
    .FormArea
      .FormArea__content
        .FormBlock
          .imageUploadArea
            .imageUploadArea__content
              出品画像
              %span.mustDescription
                必須
            %p.description
              最大10枚までアップロードできます
        .FormBlock
          .FormGroup
            .FormGroup__content
              商品名
              %span.mustDescription
                必須
            %input.FormGroup__input{ type:"text", placeholder:"40文字まで"}
          .FormGroup
            .FormGroup__content
              商品の説明
              %span.mustDescription
                必須
            %textarea{cols: "40", rows: "7", class: "textarea", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）"} 

        .FormBlock
          .FormBlock__title
            商品の詳細
          .FormGroup
            .FormGroup__content
              カテゴリー
              %span.mustDescription
                必須
            %select.FormGroup__pullDownSelect
              %option 選択してください
              %option{ value: "レディース"}レディース
              %option{ value: "メンズ"}メンズ
              %option{ value: "ベビー・キッズ"}ベビー・キッズ
              %option{ value: "インテリア・住まい・小物"}インテリア・住まい・小物
              %option{ value: "本・音楽・ゲーム"}本・音楽・ゲーム
              %option{ value: "おもちゃ・ホビー・グッズ"}おもちゃ・ホビー・グッズ
              %option{ value: "コスメ・香水・美容"}コスメ・香水・美容
              %option{ value: "家電・スマホ・カメラ"}家電・スマホ・カメラ
              %option{ value: "スポーツ・レジャー"}スポーツ・レジャー
              %option{ value: "ハンドメイド"}ハンドメイド
              %option{ value: "チケット"}チケット
              %option{ value: "自動車・オートバイ"}自動車・オートバイ
              %option{ value: "その他"}その他

            .FormGroup__content
              ブランド
              %span.freeDescription
                任意
            %input.FormGroup__input{ type:"text", placeholder:"例）シャネル"}
            .FormGroup__content
              商品の状態
              %span.mustDescription
                必須
            %select.FormGroup__pullDownSelect
              %option 選択してください
              %option{ value: "新品、未使用"}新品、未使用
              %option{ value: "未使用に近い"}未使用に近い
              %option{ value: "目立った傷や汚れなし"}目立った傷や汚れなし
              %option{ value: "やや傷や汚れあり"}やや傷や汚れあり
              %option{ value: "傷や汚れあり"}傷や汚れあり
              %option{ value: "全体的に状態が悪い"}全体的に状態が悪い
        .FormBlock
          .FormBlock__title
            配送について
          .FormGroup
            .FormGroup__content
              配送料の負担
              %span.mustDescription
                必須
            %select.FormGroup__pullDownSelect
              %option 選択してください
              %option{ value: "送料込み（出品者負担）"}送料込み（出品者負担）
              %option{ value: "着払い（購入者負担）"}着払い（購入者負担）
          .FormGroup
            .FormGroup__content
              発送元の地域
              %span.mustDescription
                必須
            %select.FormGroup__pullDownSelect
              %option 選択してください
              %option{ value: "北海道"}北海道
              %option{ value: "青森県"}青森県
              %option{ value: "岩手県"}岩手県
              %option{ value: "宮城県"}宮城県
              %option{ value: "秋田県"}秋田県
              %option{ value: "山形県"}山形県
              %option{ value: "福島県"}福島県
              %option{ value: "茨城県"}茨城県
              %option{ value: "栃木県"}栃木県
              %option{ value: "群馬県"}群馬県
              %option{ value: "埼玉県"}埼玉県
              %option{ value: "千葉県"}千葉県
              %option{ value: "東京都"}東京都
              %option{ value: "神奈川県"}神奈川県
              %option{ value: "新潟県"}新潟県
              %option{ value: "富山県"}富山県
              %option{ value: "石川県"}石川県
              %option{ value: "福井県"}福井県
              %option{ value: "石川県"}石川県
              %option{ value: "長野県"}長野県
              %option{ value: "岐阜県"}岐阜県
              %option{ value: "静岡県"}静岡県
              %option{ value: "愛知県"}愛知県
              %option{ value: "三重県"}三重県
              %option{ value: "滋賀県"}滋賀県
              %option{ value: "大阪府"}大阪府
              %option{ value: "京都府"}京都府
              %option{ value: "奈良県"}奈良県
              %option{ value: "和歌山県"}和歌山県
              %option{ value: "鳥取県"}鳥取県
              %option{ value: "島根県"}島根県
              %option{ value: "岡山県"}岡山県
              %option{ value: "広島県"}広島県
              %option{ value: "山口県"}山口県
              %option{ value: "徳島県"}徳島県
              %option{ value: "香川県"}香川県
              %option{ value: "愛媛県"}愛媛県
              %option{ value: "高知県"}高知県
              %option{ value: "福岡県"}福岡県
              %option{ value: "佐賀県"}佐賀県
              %option{ value: "長崎県"}長崎県
              %option{ value: "熊本県"}熊本県
              %option{ value: "大分県"}大分県
              %option{ value: "宮崎県"}宮崎県
              %option{ value: "鹿児島県"}鹿児島県
              %option{ value: "沖縄県"}沖縄県
              %option{ value: "未定"}未定
          .FormGroup
            .FormGroup__content
              発送までの日数
              %span.mustDescription
                必須
            %select.FormGroup__pullDownSelect
              %option 選択してください
              %option{ value: "1~2日で発送"}1~2日で発送
              %option{ value: "2~3日で発送"}2~3日で発送
              %option{ value: "4~7日で発送"}4~7日で発送
        .FormBlock
          .FormBlock__title
            価格（¥300〜9,999,999）
          .FormGroupB
            .FormGroupB__content
              販売価格
              %span.mustDescription
                必須
            .FormGroupB__inputArea
              %p.unit
                ¥
              %input.FormGroupB__input{ type:"string", placeholder:"0"}
      .FormArea__submitArea
        %input.FormArea__submitArea--btn{ type:"submit", value:"出品する"}
  .AccountPage__etc
    = render "devise/registrations/foot_logo"


