.SellProductPage
  = render "devise/registrations/head_logo"
  .SellProductPage__container
    .FormArea
      .FormArea__content
        .FormBlock
          .imageUploadArea
            .imageUploadArea__content
              出品画像
              %span.mustDescription
                必須
            %p.description
              最大10枚までアップロードできます
        .FormBlock
          .FormGroup
            .FormGroup__content
              商品名
              %span.mustDescription
                必須
            %input.FormGroup__input{ type:"text", placeholder:"40文字まで"}
          .FormGroup
            .FormGroup__content
              商品の説明
              %span.mustDescription
                必須
            %textarea{cols: "40", rows: "7", class: "textarea", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）"} 

        .FormBlock
          .FormBlock__title
            商品の詳細
            .FormGroup
              .FormGroup__content
                カテゴリー
                %span.mustDescription
                  必須
              %select.FormGroup__pullDownSelect
                %option 選択してください
                %option{ value: "レディース"}レディース
                %option{ value: "メンズ"}メンズ
                %option{ value: "ベビー・キッズ"}ベビー・キッズ
                %option{ value: "インテリア・住まい・小物"}インテリア・住まい・小物
                %option{ value: "本・音楽・ゲーム"}本・音楽・ゲーム
                %option{ value: "おもちゃ・ホビー・グッズ"}おもちゃ・ホビー・グッズ
                %option{ value: "コスメ・香水・美容"}コスメ・香水・美容
                %option{ value: "家電・スマホ・カメラ"}家電・スマホ・カメラ
                %option{ value: "スポーツ・レジャー"}スポーツ・レジャー
                %option{ value: "ハンドメイド"}ハンドメイド
                %option{ value: "チケット"}チケット
                %option{ value: "自動車・オートバイ"}自動車・オートバイ
                %option{ value: "その他"}その他

              .FormGroup__content
                ブランド
                %span.freeDescription
                  任意
              %input.FormGroup__input{ type:"text", placeholder:"40文字まで"}
              .FormGroup__content
                商品の状態
                %span.mustDescription
                  必須
              %select.FormGroup__pullDownSelect
                %option 選択してください
                %option{ value: "レディース"}レディース
                %option{ value: "メンズ"}メンズ
        .FormBlock
          .FormBlock__title
            配送について
            .FormGroup
              .FormGroup__content
                配送料の負担
                %span.mustDescription
                  必須
            .FormGroup
              .FormGroup__content
                発送元の地域
                %span.mustDescription
                  必須
            .FormGroup
              .FormGroup__content
                発送までの日数
                %span.mustDescription
                  必須
        .FormBlock
          .FormBlock__title
            価格（¥300〜9,999,999）
            .FormGroup
              .FormGroup__content
                販売価格
                %span.mustDescription
                  必須
      .FormArea__bottun
        %input.FormArea__content--btn{ type:"submit", value:"出品する"}
  .AccountPage__etc
    = render "devise/registrations/foot_logo"


