.SellProductPage
  = render "devise/registrations/head_logo"
  .SellProductPage__container
    .FormArea
      .FormBlock
        .imageUploadArea
          .imageUploadArea__content
            出品画像
            %span
              必須
            %h2.description
              最大10枚までアップロードできます
        .FormGroup
          .FormGroup__content
            商品名
            %span
              必須
        .FormGroup
          .FormGroup__content
            商品の説明
            %span
              必須
      .FormBlock
        .FormBlock__title
          商品の詳細
          .FormGroup
            .FormGroup__content
              カテゴリー
              %span
                必須
            .FormGroup__content
              ブランド
              %span
                任意
            .FormGroup__content
              商品の状態
              %span
                必須
      .FormBlock
        .FormBlock__title
          配送について
          .FormGroup
            .FormGroup__content
              配送料の負担
              %span
                必須
          .FormGroup
            .FormGroup__content
              発送元の地域
              %span
                必須
          .FormGroup
            .FormGroup__content
              発送までの日数
              %span
                必須
      .FormBlock
        .FormBlock__title
          価格（¥300〜9,999,999）
          .FormGroup
            .FormGroup__content
              販売価格
              %span
                必須
      .FormArea__content
        %input.FormArea__content--btn{ type:"submit", value:"出品する"}


