.header
  = render "header"

  .showMain
    テスト
    .topContent
      .itemBox
        .itemBox__name
          商品名
        .itemBox__mainImage
          画像が入ります
        .itemBox__subImage
          小さい画像が入ります
        .itemBox__price
          10000円
        .itemBox__priceDetail
          税込み  送料込み 
        .itemBox__description
          紹介文が入ります
        .itemBox__itemTable
          テーブル
        .itemBox__optionArea
          .itemBox__optionArea__likeBtn
            お気に入り
          .itemBox__optionArea__reportBtn
            不適切な商品を通報
.footer
  = render "footer"