@import "reset";
@import "modules/users";
@import "modules/credit_cards";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/sign_up";
@import "modules/sign_in";
@import "modules/items_toppage";
@import "modules/sell_product";
@import "modules/errors";
@import "modules/credit_cards_destroy";
@import "modules/credit_cards_show";
.Notification {
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
  }
}