@import "reset";
@import "modules/users";
@import "modules/credit_cards";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/sign_up";
@import "modules/sign_in";
@import "modules/items_toppage";
@import "modules/sell_product";
@import "modules/errors";

.notifications {
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
  }
}